/* basic elements */

@font-face {
    font-family: 'liberatorregular';
    src: url('liberator-webfont.eot');
    src: url('liberator-webfont.eot?#iefix') format('embedded-opentype'),
         url('liberator-webfont.woff') format('woff'),
         url('liberator-webfont.ttf') format('truetype'),
         url('liberator-webfont.svg#liberatorregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
	text-transform: none;
	line-height: 1;

}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?cliphf');
	src:url('fonts/icomoon.eot?#iefixcliphf') format('embedded-opentype'),
		url('fonts/icomoon.woff?cliphf') format('woff'),
		url('fonts/icomoon.ttf?cliphf') format('truetype'),
		url('fonts/icomoon.svg?cliphf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-size: 48px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-authenticity:before {
	content: "\e600";
}
.icon-growth:before {
	content: "\e601";
}
.icon-heart:before {
	content: "\e602";
}
.icon-ownership:before {
	content: "\e603";
}
.icon-play:before {
	content: "\e604";
}
.icon-teamwork:before {
	content: "\e605";
}
.icon-home:before {
	content: "\e606";
}





html {
	margin: 0;
	padding: 0;
	}

body { 
	font-family:'liberatorregular', sans-serif;
	line-height: 1.88889;
	color: #8a640b; 
	background: #000;
	margin: 0 auto; 
	padding: 0;
	}
p { 
	margin: 0 3em 0 3em;
	text-align: center;
	color: #8a640b;
	}
p.invite-A{
	font-size: 1.1em;
	line-height: 1.1em;
	margin-bottom: 1.5em;
}
p.invite-B{
	font-size: 2.5em;
}
p.invite-C{
	font-size: 2.5em;
	line-height: 1em;
}


a:link { 
	font-weight: normal; 
	text-decoration: none; 
	color: #8a640b;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #8a640b;
	}
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #fff;
	}
h1 {
	font-size: 4em;
	line-height: 1em;
	color: #8a640b;
}
h2 {
	font-size: 3em;
	line-height: 1em;
	color: #8a640b;
}
h3 {
	font-size: 2.5em;
	line-height: .1em;
	color: #8a640b;
}
h4 {
	font-size: 1.2em;
	line-height: 1.3em;
	color: #8a640b;
}
h5{
	letter-spacing: .2em;
	margin: .4em auto;
	font-size: 1.3em;
	line-height: 1.6em;
	color:#8a640b;
	text-align: center;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #8a640b;
    margin: 2px auto;
    max-width: 900px;
    position: relative;
}
hr.style-two {
    border: 0;
    height: 1px;
    background: #8a640b;
    margin: 2em auto;
    max-width: 200px;
    position: relative;
}



/* specific divs */
#container{
	width: 100%;
	margin: 0 auto;

}
#header{
	margin: 0 auto;
	height: 100%;
	background: url(img/header-bg.jpg) no-repeat center top;
	background-size: 980px;
	text-align: center;
}

.logo{
	margin: 0 auto;
	width: 270px;
	height: 270px;
}
.presented{
	letter-spacing: .4em;
	font-size: .8em;
	margin: -2em 1em 2em 1em;
}
#manifesto{
	margin: 0 auto;
	max-width: 850px;
	padding: 0 2em 0 2em;
}

#icons{
	max-width: 768px;
	margin: 0 auto;
	padding-top: 2em;
	text-align: center;
}
.values{
	display: inline;
	padding: 0 5em 0 0;

}
#details{
	max-width: 900px;
	margin: 3em auto;

}
#date{
	clear: both;
	float: left;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	text-align: center;
	background-color: #8a640b;
	margin: -18em 0 0 2em;
}
#date p{
	color: #fff;
	margin: auto;
	padding-top: 38%;
	font-size: 1.4em;
}
#info{
	text-align: center;
}
#time{
	float: right;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	text-align: center;
	background-color: #8a640b;
	margin: -18em 2em 0 0;
}
#time p{
	color: #fff;
	margin: auto;
	padding-top: 38%;
	font-size: 1.4em;

}
.rsvp {
	margin: 1em .5em 0 .5em;
	-moz-box-shadow:inset 0px 0px 0px 0px #755408;
	-webkit-box-shadow:inset 0px 0px 0px 0px #755408;
	box-shadow:inset 0px 0px 0px 0px #755408;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8a640b), color-stop(1, #8a640b) );
	background:-moz-linear-gradient( center top, #8a640b 5%, #8a640b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#755408', endColorstr='#755408');
	background-color:#755408;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #755408;
	display:inline-block;
	font-family:'liberatorregular', sans-serif;
	font-size:1.5em;
	font-style:normal;
	height:2em;
	line-height:2em;
	width:200px;
	text-decoration:none;
	text-align:center;
}
.rsvp:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8a640b), color-stop(1, #604609) );
	background:-moz-linear-gradient( center top, #8a640b 5%, #604609 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a640b', endColorstr='#604609');
	background-color:#8a640b;
	text-decoration: none;

}
a.rsvp{
	font-weight: normal; 
	text-decoration: none; 
	color: #fff;
}
.rsvp:active {
	position:relative;
	top:1px;
}
.norsvp{
	display:inline-block;
	padding-top: 2em;
	font-family:'liberatorregular', sans-serif;
	font-size:18px;
	font-style:normal;
	height:53px;
	line-height:53px;
	width:200px;
	text-decoration:none;
	text-align:center;
}
#map{
	clear: both;
	margin: 3em auto;
}
.bigsecret{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 568px){ 

	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icomoon';
		speak: none;
		font-size: 22px;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
	}
	#logo{
		margin: 0 auto;
		width: 135px;
		height: 135px;
		background: url(img/badge_animated@2x.gif) no-repeat center;
	}
	h5{
		letter-spacing: .1em;
		margin: 2em auto;
		font-size: 1.2em;
		text-align: left;
	}

	h1{
		font-size: 3.2em;
		line-height: 1em;
		color: #8a640b;
	}
	.presented{
	letter-spacing: .8em;
	font-size: .8em;
	margin: -2em 1em 2em 1em;
}
	p.invite-A{
	font-size: 1.1em;
	line-height: 1.1em;
	margin-bottom: 1.5em;
	}
	p.invite-B{
		font-size: 1.2em;
	}
	p.invite-C{
		font-size: 1.2em;
		line-height: 1em;
	}
	#icons{
	width: 100%;
	padding-top: .2em;
	}

	.values{
	display: inline;
	padding: 0 1em 0 0;

	}


	#date{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	text-align: center;
	background-color: #8a640b;
	margin: 1em 0 3em 3em;
	}

	#date p{
		margin: auto;
		padding-top: 33%;
	}
	#time{
	float: right;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	text-align: center;
	background-color: #8a640b;
	margin: 1em 3em 3em 0;
	}
	#time p{
		margin: auto;
		padding-top: 33%;
	}
	#map{
	max-width: 90%;
	clear: both;
	margin: 3em auto;
	}

}




