/* basic elements */

@font-face {
    font-family: 'liberatorregular';
    src: url('liberator-webfont.eot');
    src: url('liberator-webfont.eot?#iefix') format('embedded-opentype'),
         url('liberator-webfont.woff') format('woff'),
         url('liberator-webfont.ttf') format('truetype'),
         url('liberator-webfont.svg#liberatorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




html {
	margin: 0;
	padding: 0;
	}

body { 
	font-family:'liberatorregular', sans-serif;
	line-height: 1.88889;
	color: #333333; 
	background: #000;
	margin: 0 auto; 
	padding: 0;
	}
p { 
	margin: 0 3em 0 3em;
	text-align: center;
	font-size: 1.4em;
	text-transform: uppercase;
	color: #8a640b;
	}
p.invite-A{
	font-size: 1.1em;
	line-height: 1.1em;
	margin-bottom: 1.5em;
}
p.invite-B{
	font-size: 2.5em;
}
p.invite-C{
	font-size: 2.5em;
	line-height: 1em;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #eed18e;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #fff;
	}
h1 {
	font-size: 4em;
	line-height: 1em;
	color: #8a640b;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #8a640b;
    margin: 2px auto;
    max-width: 900px;
    position: relative;
}


/* specific divs */
#container{
	width: 100%;
	margin: 0 auto;
}
#header{
	margin: 0 auto;
	height: 100%;
	background: url(img/header-bg.jpg) no-repeat center;
	text-align: center;
}

#logo{
	margin: 0 auto;
	width: 270px;
	height: 270px;
	background: url(img/badge_animated.gif) no-repeat center;
}
#article{
	margin: 0 3em 0 3em;
}
#article p{
	letter-spacing: .2em;
	max-width: 900px;
	margin: 3em auto;

}
#icons{
	max-width: 768px;
	margin: 0 auto;

}
#icons img{
	width: 100%;
}
#details{
	max-width: 900px;
	margin: 3em auto;

}
#date{
	clear: both;
	float: left;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	text-align: center;
	background-color: #8a640b;
	margin: -14em 0 0 2em;
}
#date p{
	color: #eed18e;
	margin: auto;
	padding-top: 38%;
}
#info{
	text-align: center;
}
#time{
	float: right;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	text-align: center;
	background-color: #8a640b;
	margin: -14em 2em 0 0;
}
#time p{
	color: #eed18e;
	margin: auto;
	padding-top: 38%;
}
.rsvp {
	margin: 3em auto;
	-moz-box-shadow:inset 0px 0px 0px 0px #755408;
	-webkit-box-shadow:inset 0px 0px 0px 0px #755408;
	box-shadow:inset 0px 0px 0px 0px #755408;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #755408), color-stop(1, #8a640b) );
	background:-moz-linear-gradient( center top, #755408 5%, #755408 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#755408', endColorstr='#755408');
	background-color:#755408;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0px;
	border:1px solid #755408;
	display:inline-block;
	font-family:'liberatorregular', sans-serif;
	font-size:1.2em;
	font-style:normal;
	height:53px;
	line-height:53px;
	width:151px;
	text-decoration:none;
	text-align:center;
}
.rsvp:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8a640b), color-stop(1, #755408) );
	background:-moz-linear-gradient( center top, #8a640b 5%, #8a640b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a640b', endColorstr='#8a640b');
	background-color:#8a640b;
	text-decoration: none;

}.rsvp:active {
	position:relative;
	top:1px;
}
#map{
	clear: both;
	margin: 3em auto;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 568px){ 


	#logo{
		margin: 0 auto;
		width: 270px;
		height: 270px;
		background: url(img/badge_animated.gif) no-repeat center;
	}
	#article p{
		letter-spacing: .1em;
		margin: 2em auto;
		font-size: 1em;
	}

	h1{
		font-size: 3.2em;
		line-height: 1em;
		color: #8a640b;
	}
	#icons{
	width: 100%;
	height: 79px;
	overflow: hidden;
	}

	#date{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	text-align: center;
	background-color: #8a640b;
	margin: .5em 0 0 3em;
	}

	#date p{
		color: #eed18e;
		margin: auto;
		padding-top: 33%;
	}
	#time{
	float: right;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	text-align: center;
	background-color: #8a640b;
	margin: .5em 3em 0 0;
	}
	#time p{
		color: #eed18e;
		margin: auto;
		padding-top: 33%;
	}

}




